# CPU only, no devices, burst > slice, start time 0.
# Use slice time 1000
DEVICE 1 disk
PROGRAM 0 0 C:\Users\Jacques\Documents\UCT\CSC3002F\Coding\OS\tests\Test2C\programA.prg 
PROGRAM 0 0 C:\Users\Jacques\Documents\UCT\CSC3002F\Coding\OS\tests\Test2C\programB.prg